<div class="container mt-4 text-center">
  <h1 class="titulo-gato">Vida de Gato 🐱</h1>
</div>
<div class="container mt-4">
  <div class="row g-4">
    <div class="col-md-4" *ngFor="let raca of racas">
      <div class="card card-raca shadow">
        <img [src]="raca.imagem" class="card-img" [alt]="raca.nome">
        <div class="card-body">
          <h5 class="card-title">{{ raca.nome }}</h5>
          <p class="card-text">{{ raca.descricao | slice:0:60 }}...</p>
          <button class="btn btn-dark" (click)="abrirModal(raca)">Saiba mais</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bootstrap -->
<div class="modal fade" id="modalRaca" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ racaSelecionada?.nome }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img [src]="racaSelecionada?.imagem" class="img-fluid rounded mb-3" [alt]="racaSelecionada?.nome">
        <p>{{ racaSelecionada?.descricao }}</p>
      </div>
    </div>
  </div>
</div>

<div>
   <section class="py-5 bg-light">
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 bg-white p-4 rounded shadow border">
          <h2 class="text-secondary">Curiosidades</h2>
          <p class="lead">
<p>Um gato passa cerca de 12 a 16 horas por dia dormindo. Isso os torna um dos mamíferos mais preparados para longas jornadas de sono. Vida boa, né?</p>


<p> A maior parte das fêmeas felinas é destra, enquanto os machos são canhotos</p>

<p> Por serem animais caçadores, muitas vezes eles procuram lugares em que se sentem seguros para dormir. Por isso você os encontra frequentemente cochilando em cima de armários e dentro de caixas.</p>

<p> Apesar de não conseguir correr distâncias muita longas, gatos são excepcionalmente rápidos: eles conseguem correr a até 49 km/h.</p>
<p> Gatos tem predisposições biológicas para serem crepusculares. Ou seja, eles ficam acordados geralmente entre o anoitecer e o amanhecer. Isso acontece principalmente pela forma com que eles enxergam.</p>

<p> Persa é a raça mais popular de gatos. Em segundo lugar, fica a Maine Coon e em seguida a Siamesa.</p>


<p>Assim como as impressões digitais de humanos, cada gato tem um nariz que é único.</p>
        </div>
      </div>
    </div>
  </section>
</div>


  <!-- Footer -->
  <footer class="py-4 bg-dark text-white text-center">
    <div class="container">
      <p class="mb-0">Copyright &copy;
        <strong>Deivis Beer_Revolution</strong> Website 2025</p>
    </div>
  </footer>
